@font-face {
    font-family: "Roboto";
    src: url("./Roboto-Regular.ttf") format("tff");
    font-weight: 600;
    font-style: normal;
}
.hello {
    color: red;
    background: url("./trees-5555938_960_720.jpg");
    font-family: "Roboto";
}